::-moz-selection{ /*@bugfix mozilla*/
    background: orange; /* REMPLACER PAR LA COULEUR DÉSIRÉE*/
    color: #fff;
}
::selection{ /* effet souris  */
    background: orange; /* REMPLACER PAR LA COULEUR DÉSIRÉE*/
    color: #fff;
}
#particles-js{
	opacity: 0.5;
}

#cd-words-wrapper{
	background-color:#02a8f4;
}
.social-media{
	list-style:none;
	padding:0;
	margin:0;
}
.social-buttons{
	display:inline;
	margin-right:1em;
	font-weight : bold;
}
.social-buttons a{
	color:white;
}
.social-buttons a:hover{
	color:#02a8f4;
}
.content-team{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.team-single{
text-align:center;
max-width: 350px;
margin:0 1% 80px 1%;	
}
.team-single h4 {
	margin-bottom:2em;
}
.team-single p {
	margin-top:1em;
	padding:1em;
}
#about-us{
	padding:100px 0;
}
.team-single .social-media-profile a{
	color:#2C4049;
	width:100%;
}
#contener-slider{
	display:flex;
}
.team{
	font-weight: 500;
}
.team strong{
	color:#02a8f4;
	font-size: 1.03em;
}
.team-single .social-media-profile{
	padding:0;
	margin:0;
	width:40%;
	margin:auto;
	display:flex;
	justify-content: space-between;
}
.team-single .social-buttons{
	display:inline;
	margin-right:0em;
	font-size: 1.5em;
}
.team-single .social-buttons :hover{
color:#02a8f4;
}
.testimonial-item-img img{
	float:left;
	min-width:70px;
	margin:20px;
}
.testimonial-item-img img:hover{
	border:solid #02a8f4 10px;
	border-radius:100%;
}


#contener-partners{
	display:flex;
	justify-content: center;
	flex-wrap:wrap;
}
.readmore{
	padding:10% 0 5% 0;
}
#contacts h2, #contacts p, #contacts h6{
	color:#DEE3E8;
}
#map{ height: 310px	; }

.email{
	text-align:center;
	width:30%;
	color:black;
	margin-bottom: 	15px;	
}
#mc_embed_signup_scroll{
	text-align: center;

}
#mc-embedded-subscribe{
	color: 	white;
	width:30%;
  background-color: rgba(0, 0, 0, 0);
  border:solid 3px #02a8f4;
}
#mc-embedded-subscribe:hover{
	background-color:rgba(2, 168, 244, 1);
}


.white-popup {
	display:flex;
	height:25em;
	justify-content:center;
	position: relative;
	background: #FFF;
	width: auto;
	max-width:70%;
	margin: 20px auto;
	align-items:center;
	/*flex-wrap: wrap;*/

}

.white-popup p{
	text-align:justify;
	padding:3em;
	background-color:white;
	max-height: 25em;
}
.white-popup img{
	object-fit: cover;
	height:100%;
}